body
{
padding:0;
margin:0;
}
.topstrip
{
background-color:#3BE195;
height:40px;
line-height:50px;
text-align:right;
}
.pageheading
{
color:#F87630;
text-align:center;
font-size:100px;

}

.pagepara
{
padding:20px;
}

.pagepara p
{
text-align:justify;
color:#000000 ; 
font-size:23px;
}

.pageimg1
{
width:370px;
height:270px;
border: 1px solid black;
align:centert;
margin:auto;
}
.pageimg2
{
width:370px;
height:270px;
border: 1px solid black;
align:center;
margin:auto;
}

.placeheading
{
background:#F5F58F ;
color:#000000;
padding:20px;
}
.pagemenu
{
background:#000000;
color:#ffffff;
padding:10px;
width:auto;
margin-right:10px;
margin-left:10px;
text-decoration:none;
border-radius:5px;
}


.pagemenu:hover
{
background:#CD5D5D;
color:#000000;
cursor:pointer;
}

.pagetop
{
color:#000000;
margin-right:10px;
margin-left:10px;
text-decoration:none;
float:right;
}


.pagetop:hover
{
color:#3BE195;
cursor:pointer;
}